@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans selection:bg-indigo-100 selection:text-indigo-900;
  }
}

@layer components {

  /* Scrollbar styling for better aesthetics */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}